build_utils
c_source
src_old
/project
.idea
violac/src_modified
violac/whole_test/test_compiled
violac/whole_test/template_projects
.claude
*.bin
*.log
*.vlacmd
*.vlacmd0
*.vlaexpr
*.vlaimport
*.vlasymt
*.vlasymtab
*.vlatoken
*.vlamk.toml
*.vla.c
*.vla.h
env.txt
!violac/unit_test/test/cache/file.vlasymtab
!violac/unit_test/test/src/file.vla.vlasymtab
!violac/unit_test/test/workspace/src/file.vla.vlasymtab
开发疑问记录.txt